@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply text-xs md:text-base lg:text-lg font-medium;
    color:#990000;
    font-family: 'Inter', sans-serif;

  }
  p {
    @apply text-lg font-normal;
  }
  
  /* Styles for form elements */
  @layer components {
    input:-webkit-autofill {
      -webkit-text-fill-color: gray; /* Change text color */
      background-color: transparent !important;
      -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
      color: gray !important; /* Adjust text color */
    }
  }
  

  